* {background-color: rgb(252, 252, 252)}

/* #Title{
    font-size: 90px;
    text-align: center;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
}



input{
    background-color: white;
}

button{
    background-color: white;
}

.MainBody{
    margin: auto;
    width: 15%;
    padding: 10px;
    
}

p {
    display: inline-block;
} */