<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Tracker</title>
    <link rel="stylesheet" href="./stylesheets/mainPage.css">
    <script src="./javascript/mainPage.js" defer></script>
</head>
<body>
    <header>
        <a href="mainPage.html">Home</a>
        <h1 id="Title">StudentTracker</h1>

        

        
    </header>
    
    <main>
        <div class="MainBody">
            <a href="AddStudent.html">Add Students</a>
            <br>
            <a href="ModStudent0.html">Change Student Info</a>
            <br>
            <a href="DelStudent.html">Delete Students</a>
            <br>
            <a href="#" id="DisplayStudents">Display Students</a>
            <br>
            <a href="testingPage.html">TEST</a>
            
        </div>   
                
            
    </main>
    <form method="get" action="showDB" id="StudentDB">
        <input type="submit" class="SubmitBox" value="Submit" id="hiddenButton"></input>
        
    </form>
    <form method="post" action="showDB" id="StudentDB">
        <input type="submit" class="SubmitBox" value="Submit" id="hiddenButton"></input>
        
    </form>
    
   
</body>


</html>